$color1:#d469a5;
$color1-hover: hsl(0, 93%, 72%);
$colorW: white;
$color_body: #73b7e1;
$text-dec1: none;
$text-dec0: underline;
$text_centrer: center;
$unitPx: 10px;
$floatR: right;
$displayInBl: inline-block;
$height: 2em;
$font-family: "PT Sans";
$font-size: 20px;


